@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto">
            <a href="https://github.com/sven5/Blazor" target="_blank">Source Code</a>
            &nbsp;|&nbsp;
            <a href="https://blazor.net" target="_blank">About Blazor</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
