@using Services
<div class="alert alert-primary mt-4" role="alert">
    <strong>@Model.Text</strong>
    <span class="text-nowrap">
        @Model.Description
    </span>
</div>

@functions {
    [Parameter]
    DragItem Model { get;set; }
}
