################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/HelloWorldDragDrop/HelloWorldDragDrop.Server/Properties/PublishProfiles/BlazorDemo - Web Deploy.pubxml
