@page "/popup"

<h1>Popup example with Razor Components</h1>

<p>This demo demonstrates howto open and close a Bootstrap popup using its own Razor Component.</p>
<p>A fade animation can be used to smoothly open the popup.</p>

<div class="row mb-3">
    <div class="col-1">
        <button type="button" class="btn btn-primary" onclick="@(e => OpenPopup())"><span class="oi oi-plus"></span> Open Popup</button>
    </div>
</div>

<PopupComponent IsPopupOpen="@_isPopupOpen" Animation="PopupComponent.AnimationType.FadeIn" Title="A Popup Demo Title" />

@functions{

    //PopupComponent _popup;

    bool _isPopupOpen;

    void OpenPopup()
    {
        _isPopupOpen = true;
        StateHasChanged();
    }
}